---
export const prerender = false;
import BlogCard from '@/components/BlogCard.astro';
import Container from '@/components/Container.astro';
import LatestNote from '@/components/LatestNote.astro';
import Link from '@/components/Link.astro';
import { buttonVariants } from '@/components/ui/button';
import { NOSTR, SITE } from '@/consts';
import Layout from '@/layouts/Layout.astro';
import { fetchUserProfile } from '@/lib/nostr/ndk';
import { decodeNsecToHex, privateKeyToSecretPhrase } from '@/lib/utils';
import { getCollection } from 'astro:content';

// Example usage
const nsecKey =
  'nsec19vs5zqdpqd23u73dvl27a2m6nt90luhuqyp3c80akexkhk0kklls0664t7';
const hexPrivateKey = decodeNsecToHex(nsecKey);

if (hexPrivateKey) {
  console.log('Hex Private Key:', hexPrivateKey);
} else {
  console.log('Failed to decode nsec key.');
}

// Contoh Penggunaan
const privateKey = hexPrivateKey; // Ganti dengan private key Anda
const secretPhrase = privateKeyToSecretPhrase(privateKey);

if (secretPhrase) {
  console.log('Secret Phrase:', secretPhrase);
} else {
  console.log('Failed to generate secret phrase.');
}

const blog = (await getCollection('blog'))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const npub = NOSTR.NPUB;
const user = await fetchUserProfile(npub);
console.log(user);
---

<Layout title="Home" description={SITE.DESCRIPTION}>
  <Container class="flex flex-col gap-y-6">
    <section>
      <LatestNote />
    </section>
    <section class="flex flex-col gap-y-4">
      <h2 class="text-2xl font-bold sm:font-semibold">Postingan terbaru</h2>
      <ul class="not-prose flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          Lihat semua postingan <span
            class="ml-1.5 transition-transform group-hover:translate-x-1"
            >&rarr;</span
          >
        </Link>
      </div>
    </section>
  </Container>
</Layout>
