---
export const prerender = false;
import type { NostrEvent } from '@/lib/utils';
import { getNevent } from '@/lib/utils';
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
  CardFooter,
} from '@/components/ui/card';
import Link from '@/components/Link.astro';
import { Button } from '@/components/ui/button';
import { Icon } from 'astro-icon/components';
import { config } from "dotenv";

config();

export function formatDateNostr(milliseconds: number): string {
  const date = new Date(milliseconds * 1000);

  const options: Intl.DateTimeFormatOptions = {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
    hour: '2-digit',
    minute: '2-digit',
    hour12: true,
  };

  return date.toLocaleString(undefined, options);
}

let latestNote: NostrEvent | null = null;
let errorMessage: string | null = null;

const baseUrl = "https://abeng.xyz"

// Fetch data from API
try {
  const response = await fetch(`${baseUrl}/api/fetch-nostr-note`);
  if (response.ok) {
    const data = await response.json();
    latestNote = data.latestNote;
    console.log("latestNote: ", latestNote);
  } else {
    errorMessage = "Failed to fetch the latest note. API returned an error.";
    console.error(errorMessage);
  }
} catch (error) {
  errorMessage = "Failed to fetch the latest note. Please try again later.";
  console.error(error);
}

const date = latestNote?.created_at ? latestNote.created_at : null;
const formattedDate = date ? formatDateNostr(date) : 'No date';
const eventId = latestNote?.id || 'No event';
const nevent = eventId !== 'No event' ? getNevent(eventId) : null;

console.log('Nevent:', nevent);
---

<div>
  {latestNote ? (
    <>
      <Card>
        <CardHeader>
          <CardTitle className="font-bold flex flex-wrap items-center -mb-4 -mt-3">
            <Icon name="nostr" class="size-16 -ml-5" /> Latest nostr note:
          </CardTitle>
        </CardHeader>
        <CardContent>
          <p class="mb-2 text-sm">
            {errorMessage || (latestNote?.content ?? 'No notes available.')}
          </p>
        </CardContent>
        <CardFooter>
          <span class="text-xs text-muted-foreground mr-2">{formattedDate}</span>
			 <Link href={`https://zapper.nostrapps.org/zap?id=${nevent}&type=zap`} external>
          <Button variant="ghost">&#x26A1; Zap</Button>
			 </Link>
			 <Link href={`https://nostr.band/${nevent}`} external>
          <Button variant="ghost">Open&#10139;</Button>
			 </Link>
        </CardFooter>
      </Card>
    </>
  ) : (
    <p>No latest note available.</p>
  )}
</div>