---
export const prerender = false;
import type { NostrEvent } from '@/lib/utils';
import { getNevent, formatDate } from '@/lib/utils';
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
  CardFooter,
} from '@/components/ui/card';
import Link from '@/components/Link.astro';
import { Button } from '@/components/ui/button';
import { Icon } from 'astro-icon/components';
import { config } from "dotenv";

config();

let latestNote: NostrEvent | null = null;
let errorMessage: string | null = null;

const baseUrl = process.env.PUBLIC_PROD_URL || "http://localhost:1234";

// Fetch data from API
try {
  const response = await fetch(`${baseUrl}/api/fetch-nostr-note`);
  if (response.ok) {
    const data = await response.json();
    latestNote = data.latestNote;
    console.log("latestNote: ", latestNote);
  } else {
    errorMessage = "Failed to fetch the latest note. API returned an error.";
    console.error(errorMessage);
  }
} catch (error) {
  errorMessage = "Failed to fetch the latest note. Please try again later.";
  console.error(error);
}

const date = latestNote?.created_at ? new Date(latestNote.created_at * 1000) : null;
const formattedDate = date ? formatDate(date) : 'No date';
const eventId = latestNote?.id || 'No event';
const nevent = eventId !== 'No event' ? getNevent(eventId) : null;

console.log('Nevent:', nevent);
---

<div>
  {latestNote ? (
    <>
      <Card>
        <CardHeader>
          <CardTitle className="font-bold flex flex-wrap items-center -mb-4 -mt-3">
            <Icon name="nostr" class="size-16 -ml-5" /> Nostr note
          </CardTitle>
        </CardHeader>
        <CardContent>
          <p class="mb-2 text-sm">
            {errorMessage || (latestNote?.content ?? 'No notes available.')}
          </p>
        </CardContent>
        <CardFooter>
          <span class="text-xs text-muted-foreground mr-2">{formattedDate}</span> 
          <Button variant="ghost">
            <Link href={`https://zapper.nostrapps.org/zap?id=${nevent}&type=zap`} external>
              &#x26A1; Zap
            </Link>
          </Button>
          <Button variant="ghost">
            <Link href={`https://nostr.band/${nevent}`} external>
              Open&#10139;
            </Link>
          </Button>
        </CardFooter>
      </Card>
    </>
  ) : (
    <p>No latest note available.</p>
  )}
</div>